name: Criar APK com Flutter

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar repositório
        uses: actions/checkout@v3

      - name: Instalar Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.1'

      - name: Instalar dependências
        run: flutter pub get

      - name: Criar APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MotoTaxi2025_APK
          path: build/app/outputs/flutter-apk/app-release.apk
